@import 'ui-kit/styles';

.ui-input {
    border-radius: 5px;
    border: 1px solid $color-input-border;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    line-height: 12px;
    outline: none;
    padding: 5px 10px;
    transition: background-color 0.2s;

    &::placeholder {
        color: #BFBFBF;
        transition: color 0.2s ease-out;
    }

    &:focus {
        background-color: #C5E4F9;
        border: 1px solid #1390E5;
    }

    &::placeholder {
        color: #1390E5;
    }

    &--error {
        border: 1px solid red;

        &:focus {
            background-color: lighten(red, 45%);
            border: 1px solid red;
        }
    }
}