.user-profile {
    max-width: 474px;
    padding: 13px 36px;
    width: 100%;

    &__top {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: 11px;
    }

    

}